.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  gap: 8px;
}
@media (max-width:445px) {
  .pagination-container{
    margin: 0%;
  }
}

.pagination-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #f3f4f6;
  color: #4b5563;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination-button:hover:not(:disabled) {
  background-color: #e5e7eb;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s;
}

.page-number:hover:not(.active):not(.dots) {
  background-color: #f3f4f6;
}

.page-number.active {
  background-color: #2563eb;
  color: white;
  border: 2px solid #2563eb;
}

.page-number.dots {
  cursor: default;
}